<% extend('./layout') %>

<h1 class="page-header">Dashboard</h1>
<div class="row">
    <a href="/admin/registration/list">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-people-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Pending Registration</span>
                    <span class="info-box-number"> <%= pendingRegistrationCount %></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
    </a>
    <!-- /.col -->
    <a href="/admin/customers/list">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa ion-ios-people-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Customers</span>
                    <span class="info-box-number"><%= customerCount %></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
    </a>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <a href="/admin/providers/list">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-ios-people-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Service Providers</span>
                    <span class="info-box-number"> <%= providerCount %></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
    </a>
    <!-- /.col -->
    <a href="">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-social-usd-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Transactions</span>
                    <span class="info-box-number"><%= invoiceCount %></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </a>

</div>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Calendar</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div id='calendar'></div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
        <a href="/admin/event/list" class="btn btn-sm btn-info btn-flat pull-right">View All Events</a>
    </div>
    <!-- /.box-footer -->
</div>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Events</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="table-responsive">
            <% let columns = Object.keys(events[0]) %>
            <table class="table  no-margin">
                <thead>
                <tr>
                    <% columns.forEach(function(column){ %>
                    <th> <%= column %></th>
                    <% }); %>
                </tr>
                </thead>
                <tbody>
                <% events.forEach(function(entry){ %>
                <tr>
                    <% columns.forEach(function(column){ %>

                    <td> <%= entry[column] %></td>

                    <% }); %>
                </tr>
                <% }); %>
                </tbody>

            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
        <a href="/admin/event/list" class="btn btn-sm btn-info btn-flat pull-right">View All Events</a>
    </div>
    <!-- /.box-footer -->
</div>


<script>
    window.addEventListener('DOMContentLoaded', function () {
        (function ($) {
            $(document).ready(function () {
                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,listYear,listWeek'
                    },
                    defaultDate: '2017-05-12',
                    navLinks: true, // can click day/week names to navigate views
                    editable: false,
                    eventLimit: true, // allow "more" link when too many events
//                    events: [
//                        {
//                            title: 'Photography',
//                            start: '2017-05-01'
//                        },
//                        {
//                            title: 'Gardening',
//                            start: '2015-02-01'
//                        }
//
//
//                    ]
                    events: [
                        <% for(var i = 0; i < calendarData.length; i++){ %>
                        {
                            title: '<%= calendarData[i]['title'] %>',
                            start: '<%= calendarData[i]['start'] %>'
                        },
                        <% } %>
                    ]
                });
            });
        })(jQuery);
    });
</script>