<% extend('../layout.ejs') %>
<h1>Registered Users</h1>

<% let columns = Object.keys(registration[0]) %>
<table class="table table-bordered table-striped data-table">
    <thead>
    <tr>
        <% columns.forEach(function(column){ %>
        <th> <%= column %></th>
        <% }); %>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% registration.forEach(function(entry){ %>
    <% console.log(entry) %>
    <tr>
        <% columns.forEach(function(column){ %>
        <% if(column === 'status'){ %>
        <td>
            <span class="<%= entry[column] === 'Pending' ? 'label label-warning' : 'label label-danger' %>"><%= entry[column] %></span>
        </td>
        <% }else{ %>
        <td> <%= entry[column] %></td>
        <% } %>
        <% }); %>
        <td>
            <% if(entry['status'] === 'Pending') { %>
            <form action="/admin/registration/approve" method="post">
                <input type="hidden" name="id" value="<%= entry['Id'] %>">
                <button class="btn btn-success btn-flat btn-block">Approve</button>
            </form>
            <form action="/admin/registration/reject" method="post">
                <input type="hidden" name="id" value="<%= entry['Id'] %>">
                <button class="btn btn-danger btn-flat btn-block"
                        onclick="return confirm('Are you sure you want to reject the selected user?')">
                    Reject
                </button>
            </form>
            <% } else { %>
            <form action="/admin/registration/remove" method="post">
                <input type="hidden" name="id" value="<%= entry['Id'] %>">
                <button class="btn btn-danger btn-flat btn-block"
                        onclick="return confirm('Are you sure you want to reject the selected account? (WARNING: This cannot be undone)')">
                    Remove
                </button>
            </form>
            <% } %>
        </td>
    </tr>
    <% }); %>
    </tbody>

</table>
